@charset utf-8;

body{
	margin:0;
	background-color:#f1f1f1;
}

a{
	color:black;
	font-family:calibri;
}

#content{
	font-size: 170%;
	margin-top: 20%;
	text-decoration: none;
}


#nav{
	position:fixed;
	z-index: 100;
	left:0%;
	right:0%;
	top:0%;
	background-color:#007bff;
	height:10%;
	font-family:calibri;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav2{
	font-size:90%;
	position: absolute;
	right:17%;
	top:5%;
	cursor:pointer;
	transition: 0.3s;
	background:none;
	border:#3891e5;
}
.nav21{
	color:white;
	padding:20px 15px;
}
.nav21:hover{
	color:black;
	padding:18px 15px;
}
.nav22{
	font-size:90%;
	position: absolute;
	right:5%;
	top:5%;
	cursor:pointer;
	transition: 0.3s;
	background:none;
	border:#3891e5;
}
.nav221{
	color:white;
	padding:20px 15px;
}
.nav221:hover{
	color:black;
	padding:18px 15px;
}
.nav3{
	font-family: segoe script;
	position: absolute;
	left:6%;
	top:30%;
	font-size:90%;
	color:white;
}


#header{
	color:black;
	font-family:candara;
	font-size:195%;
}
#innercontent{
	color:black;
	font-family: candara;
	font-size: 95%;
}

.info{
	background-color:#3891e5;
	height:20%;
	left:0%;
	right:0%; 
	position: absolute;
	z-index: 50;
	top:250%;
}
#copyrighted{
	margin-top: 3%;
	font-family: Calibri;
	font-size: 150%;
	text-align: center;
}
.innersubmit{
	border:5px solid gray ;
	font-size:220%;
}
