.content{
	margin-top: 10%
}
.header{
	font-size: 280%;
	font-family: candara;
	color:black;
}
.quote{
	font-size: 170%;
	font-family: segoe ui;
	color:gray;
}
.result{
	font-size: 150%;
	font-family: candara;
	color:black;
}
.footer{	
	position: absolute;
	bottom: 0px;
}
a{
	color:black;
	font-family: segoe script;
}
.clear{ 
	padding:1.5%;
	cursor: pointer;
	transition: 0.4s;
	color:black;
	font-size: 140%;
	background:none;
	border:3px solid black;
	border-radius:10%;
}
.clear:hover{
	padding:2%;
	color:white;
	background-color: black;
}
.todos{
	width:20%;
}
body{
	background-color: lightgray;
}